<p style="color: green"><%= notice %></p>

<h1>Force: <%= @force.name %></h1>

<div class="row">
  <div class="col-md-8">

<%= render @force %>
  </div>
  <div class="col-md-4">
    <h2>Actions</h2>

    <%= link_to "Edit this force", edit_force_path(@force), class: "btn btn-warning" %>
    <%= button_to "Destroy this force", @force, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
