<%= form_with(model: model, class: "row g-3") do |form| %>
  <% if model.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-4">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="col-md-4">
    <%= form.label :code, class: "form-label" %>
    <%= form.text_field :code, class: "form-control" %>
  </div>

  <div class="col-md-4">
    <%= form.label :units, class: "form-label" %>
    <div class="overflow-scroll sublist border shadow-sm">
      <%= form.collection_check_boxes(:unit_ids, Unit.all.order(:name), :id, :name, {}, {}) do |b| %>
        <div class="form-check">
          <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <%= form.label :products, class: "form-label" %>
    <div class="overflow-scroll sublist border shadow-sm">
      <%= form.collection_check_boxes(:product_ids, Product.all.order(:name), :id, :name, {}, {}) do |b| %>
        <div class="form-check">
          <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
