<p style="color: green"><%= notice %></p>

<h1>Model: <%= @model.name %></h1>

<div class="row">
  <div class="col-md-8">
    <%= render @model %>
  </div>
  <div class="col-md-4">
    <h2>Additional Data</h2>

    <p><b>Sprue ID:</b> <%= @model.sprue_id %></p>

    <% if @model.units.present? %>
      <h2>Units</h2>

      <p>The following Units make use of this model:</p>

      <ul>
        <% @model.units.order(:name).each do |unit| %>
          <li><%= link_to unit.name, unit %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @model.products.present? %>
      <h2>Products</h2>

      <p>The following Products include this Model:</p>

      <ul>
        <% @model.products.order(:name).each do |product| %>
          <figure class="figure">
            <%= link_to image_tag(product.image.variant(resize_to_limit: [256, 256]), class: "figure-img img-fluid rounded"), product if product.image.attached? %>

            <figcaption class="figure-caption"><%= link_to product.name, product %></figcaption>
          </figure>
        <% end %>
      </ul>
    <% end %>

    <h2>Actions</h2>

    <%= link_to "Edit this model", edit_model_path(@model), class: "btn btn-warning" %>
    <%= button_to "Destroy this model", @model, method: :delete, class: "btn btn-danger" %>
  </div>
</div>


