<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/models/">Models</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @model.name %></li>
  </ol>
</nav>

<h1><%= @model.name %></h1>

<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <%= render @model %>
  </div>
  <div class="col-md-4">
    <% if @model.units.present? %>
      <h2>Units</h2>

      <p>The following Units make use of this model:</p>

      <ul>
        <% @model.units.order(:name).each do |unit| %>
          <li><%= link_to unit.name, unit %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @model.products.present? %>
      <h2>Products</h2>

      <p>The following Products include this Model:</p>

      <ul>
        <% @model.products.order(:name).each do |product| %>
          <li><%= link_to product.name, product %></li>
        <% end %>
      </ul>
    <% end %>

    <h2>Additional Data</h2>

    <p><b>Sprue ID:</b> <%= @model.sprue_id %></p>

    <h2>Actions</h2>

    <%= link_to "Edit this model", edit_model_path(@model), class: "btn btn-warning" %>
    <%= button_to "Destroy this model", @model, method: :delete, class: "btn btn-danger" %>
  </div>
</div>


