<%= form_with(model: unit, class: "row g-3") do |form| %>
  <% if unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-2">
    <%= form.label :wave, class: "form-label" %>
    <%= form.number_field :wave, class: "form-control", min: 1, max: 6 %>
  </div>

  <div class="col-md-2">
    <%= form.label :unique, class: "form-label" %>
    <%= form.check_box :unique, class: "form-control form-check-input" %>
  </div>

  <div class="col-md-2">
    <%= form.label :move_range, class: "form-label" %>
    <%= form.select(:move_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :charge_range, class: "form-label" %>
    <%= form.select(:charge_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <div class="col-md-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= form.label :strength, class: "form-label" %>
    <%= form.number_field :strength, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :perception, class: "form-label" %>
    <%= form.number_field :perception, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :endurance, class: "form-label" %>
    <%= form.number_field :endurance, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :charisma, class: "form-label" %>
    <%= form.number_field :charisma, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :intelligence, class: "form-label" %>
    <%= form.number_field :intelligence, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :agility, class: "form-label" %>
    <%= form.number_field :agility, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :luck, class: "form-label" %>
    <%= form.number_field :luck, class: "form-control", min: 1, max: 20 %>
  </div>

  <div class="col-md-2">
    <%= form.label :melee_attribute, class: "form-label" %>
    <%= form.select(:melee_attribute, Unit.melee_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :pistol_attribute, class: "form-label" %>
    <%= form.select(:pistol_attribute, Unit.pistol_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :rifle_attribute, class: "form-label" %>
    <%= form.select(:rifle_attribute, Unit.rifle_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :heavy_weapon_attribute, class: "form-label" %>
    <%= form.select(:heavy_weapon_attribute, Unit.heavy_weapon_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :search_attribute, class: "form-label" %>
    <%= form.select(:search_attribute, Unit.search_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :search_range, class: "form-label" %>
    <%= form.select(:search_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :battle_cry_attribute, class: "form-label" %>
    <%= form.select(:battle_cry_attribute, Unit.battle_cry_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :battle_cry_range, class: "form-label" %>
    <%= form.select(:battle_cry_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :presence_attribute, class: "form-label" %>
    <%= form.select(:presence_attribute, Unit.presence_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :presence_range, class: "form-label" %>
    <%= form.select(:presence_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :lockpick_attribute, class: "form-label" %>
    <%= form.select(:lockpick_attribute, Unit.lockpick_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :computers_attribute, class: "form-label" %>
    <%= form.select(:computers_attribute, Unit.computers_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :throw_attribute, class: "form-label" %>
    <%= form.select(:throw_attribute, Unit.throw_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :throw_range, class: "form-label" %>
    <%= form.select(:throw_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :health_attribute, class: "form-label" %>
    <%= form.select(:health_attribute, Unit.health_attributes.keys, {}, { class: "form-select" }) %>
  </div>

  <div class="col-md-2">
    <%= form.label :physical_armor, class: "form-label" %>
    <%= form.number_field :physical_armor, class: "form-control", min: 0, max: 10 %>
  </div>

  <div class="col-md-2">
    <%= form.label :physical_strong_armor_bonus, class: "form-label" %>
    <%= form.number_field :physical_strong_armor_bonus, class: "form-control", min: 1, max: 10 %>
  </div>

  <div class="col-md-2">
    <%= form.label :energy_armor, class: "form-label" %>
    <%= form.number_field :energy_armor, class: "form-control", min: 0, max: 10 %>
  </div>

  <div class="col-md-2">
    <%= form.label :energy_strong_armor_bonus, class: "form-label" %>
    <%= form.number_field :energy_strong_armor_bonus, class: "form-control", min: 1, max: 10 %>
  </div>

  <div class="col-md-2">
    <%= form.label :radiation_immunity, class: "form-label" %>
    <%= form.check_box :radiation_immunity, class: "form-control form-check-input" %>
  </div>

  <div class="col-md-2">
    <%= form.label :radiation_armor, class: "form-label" %>
    <%= form.number_field :radiation_armor, class: "form-control", min: 0, max: 10 %>
  </div>

  <div class="col-md-2">
    <%= form.label :awareness_range, class: "form-label" %>
    <%= form.select(:awareness_range, range_options, { include_blank: true}, { class: "form-select" }) %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
