<div id="<%= dom_id unit %>">
  <p>
    <strong>Wave:</strong>
    <%= unit.wave %>
  </p>

  <p>
    <% if unit.unique %>
      <strong>Unique</strong>
    <% end %>
  </p>

  <p>
    <%= move_icon(unit.move) %>
    <%= charge_icon(unit.charge) %>
  </p>

  <p>
    <strong>STR:</strong>
    <%= unit.strength %>
  </p>

  <p>
    <strong>PER:</strong>
    <%= unit.perception %>
  </p>

  <p>
    <strong>END:</strong>
    <%= unit.endurance %>
  </p>

  <p>
    <strong>CHA:</strong>
    <%= unit.charisma %>
  </p>

  <p>
    <strong>INT:</strong>
    <%= unit.intelligence %>
  </p>

  <p>
    <strong>AGI:</strong>
    <%= unit.agility %>
  </p>

  <p>
    <strong>LUC:</strong>
    <%= unit.luck %>
  </p>

</div>
