<div id="<%= dom_id unit %>">
  <p><%= tag.i(class: "fa-solid fa-face-grin", title: "Unique") if unit.unique? %></p>

  <p>
    <%= move_icon(unit.move_range) %>
    <%= charge_icon(unit.charge_range) %>
  </p>

  <p>
    <strong>STR:</strong>
    <%= unit.strength %>
    <%= skill_icons(unit, "strength") %>
  </p>

  <p>
    <strong>PER:</strong>
    <%= unit.perception %>
    <%= skill_icons(unit, "perception") %>
  </p>

  <p>
    <strong>END:</strong>
    <%= unit.endurance %>
    <%= skill_icons(unit, "endurance") %>
  </p>

  <p>
    <strong>CHA:</strong>
    <%= unit.charisma %>
    <%= skill_icons(unit, "charisma") %>
  </p>

  <p>
    <strong>INT:</strong>
    <%= unit.intelligence %>
    <%= skill_icons(unit, "intelligence") %>
  </p>

  <p>
    <strong>AGI:</strong>
    <%= unit.agility %>
    <%= skill_icons(unit, "agility") %>
  </p>

  <p>
    <strong>LUC:</strong>
    <%= unit.luck %>
    <%= skill_icons(unit, "luck") %>
  </p>

  <p>
    <%= physical_armor_icon %>
    <%= unit.physical_armor %><%= "+#{unit.physical_strong_armor_bonus}" if unit.physical_strong_armor_bonus %>
  </p>

  <p>
    <%= energy_armor_icon %>
    <%= unit.energy_armor %><%= "+#{unit.energy_strong_armor_bonus}" if unit.energy_strong_armor_bonus %>
  </p>

  <p>
    <%= radiation_armor_icon %>
    <%= "X" if unit.radiation_immunity %>
    <%= unit.radiation_armor if !unit.radiation_immunity %>
  </p>

  <p>
    <%= awareness_range(unit.awareness_range) if unit.awareness_range %>
    <%= quick_action_icons(unit) %>
  </p>

  <% if unit.immunity_to_battle_cry? %>
    <%= immunity_to_battle_cry_icon %>
  <% end %>

  <% if unit.has_vats_ability? %>
    <p>Can use V.A.T.S.</p>
  <% end %>

  <% if unit.has_critical_attacks_ability? %>
    <p>Can use Critical Attacks</p>
  <% end %>

  <% if unit.has_luck_ability? %>
    <p>Can use Luck</p>
  <% end %>

  <% if unit.has_dog_handler_ability? %>
    <p><i class="fa-solid fa-dog" title="Dog Handler"></i></p>
  <% end %>

  <p>This Unit is from Wave <%= unit.wave %>.</p>
</div>
