<div id="<%= dom_id unit %>">
  <p>
    <% if unit.unique %>
      <strong>Unique</strong>
    <% end %>
  </p>

  <p>
    <%= move_icon(unit.move_range) %>
    <%= charge_icon(unit.charge_range) %>
  </p>

  <p>
    <strong>STR:</strong>
    <%= unit.strength %>
    <%= skill_icons(unit, "strength") %>
  </p>

  <p>
    <strong>PER:</strong>
    <%= unit.perception %>
    <%= skill_icons(unit, "perception") %>
  </p>

  <p>
    <strong>END:</strong>
    <%= unit.endurance %>
    <%= skill_icons(unit, "endurance") %>

  </p>

  <p>
    <strong>CHA:</strong>
    <%= unit.charisma %>
    <%= skill_icons(unit, "charisma") %>
  </p>

  <p>
    <strong>INT:</strong>
    <%= unit.intelligence %>
    <%= skill_icons(unit, "intelligence") %>
  </p>

  <p>
    <strong>AGI:</strong>
    <%= unit.agility %>
    <%= skill_icons(unit, "agility") %>
  </p>

  <p>
    <strong>LUC:</strong>
    <%= unit.luck %>
    <%= skill_icons(unit, "luck") %>
  </p>

  <p>
    <i class="fa-solid fa-shield-halved"></i>
    <%= unit.physical_armor %><%= "+#{unit.physical_strong_armor_bonus}" if unit.physical_strong_armor_bonus %>
  </p>

  <p>
    <i class="fa-solid fa-bolt-lightning"></i>
    <%= unit.energy_armor %><%= "+#{unit.energy_strong_armor_bonus}" if unit.energy_strong_armor_bonus %>
  </p>

  <p>
    <i class="fa-solid fa-radiation"></i>
    <%= "X" if unit.radiation_immunity %>
    <%= unit.radiation_armor if !unit.radiation_immunity %>
  </p>

  <p>
    <strong>Throw Range:</strong>
    <%= unit.throw_range %>
  </p>

  <p>
    <strong>Battle Cry Range:</strong>
    <%= unit.battle_cry_range %>
  </p>

  <p>
    <%= awareness_range(unit.awareness_range) if unit.awareness_range %>
    <%= quick_action_icons(unit) %>
  </p>

  <p>This Unit is from Wave <%= @unit.wave %>.</p>
</div>
