<p style="color: green"><%= notice %></p>

<h1><%= @unit.name %></h1>

<%= render @unit %>

<div>
  <%= link_to "Edit this unit", edit_unit_path(@unit), class: "btn btn-warning" %>
  <%= button_to "Destroy this unit", @unit, method: :delete, class: "btn btn-danger" %>
</div>
