<p style="color: green"><%= notice %></p>

<h1>
  Unit: <%= @unit.name %>

  <% if @unit.type.present? %>
    <small>(<%= @unit.type.name %>)</small>
  <% end %>

</h1>

<div class="row">
  <div class="col-md-8">
    <%= render @unit %>
  </div>
  <div class="col-md-4">
    <% if @unit.models.present? %>
      <h2>Models</h2>

      <p>This unit can be represented by the following models:</p>

      <% @unit.models.each do |model| %>
        <figure class="figure">
          <%= link_to image_tag(model.image.variant(resize_to_limit: [128, 128]), class: "figure-img img-fluid rounded"), model if model.image.attached? %>

          <figcaption class="figure-caption"><%= link_to model.name, model %></figcaption>
        </figure>
      <% end %>
    <% end %>

    <% if @unit.forces.present? %>
      <h2 class="mt-4">Forces</h2>

      <p>This unit can be a part of the following Forces:</p>

      <ul>
        <% @unit.forces.each do |force| %>
          <li><%= link_to force.name, force %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @unit.products.present? %>
      <h2 class="mt-4">Products</h2>

      <p>The models that represent this unit can found in the following products:</p>

      <% @unit.products.each do |product| %>
        <figure class="figure">
          <%= link_to image_tag(product.image.variant(resize_to_limit: [256, 256]), class: "figure-img img-fluid rounded"), product if product.image.attached? %>

          <figcaption class="figure-caption"><%= link_to product.name, product %></figcaption>
        </figure>
      <% end %>
    <% end %>

    <h2>Actions</h2>

    <%= link_to "Edit this unit", edit_unit_path(@unit), class: "btn btn-warning" %>
    <%= button_to "Destroy this unit", @unit, method: :delete, class: "btn btn-danger" %>

  </div>
</div>
