<%= form_with(model: product, class: "row g-3") do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-4">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="col-md-4">
    <%= form.label :packaging_id, class: "form-label" %>
    <%= form.text_field :packaging_id, class: "form-control" %>
  </div>

  <div class="col-md-4">
    <%= form.label :models, class: "form-label" %>
    <div class="overflow-scroll sublist border shadow-sm">
      <%= form.collection_check_boxes(:model_ids, Model.all.order(:name), :id, :name, {}, {}) do |b| %>
        <div class="form-check">
          <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
