<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div class="row">
  <div class="col-md-10">
    <table class="table table-borderless table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Image</th>
      </tr>
      </thead>

      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= product.code %></td>
          <td><%= link_to image_tag(product.image.variant(resize_to_limit: [128, 128]), height: 128), product if product.image.attached? %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <%= link_to "New product", new_product_path, class: "btn btn-primary" %>
  </div>
</div>


